- provide :header_env, "false"
- provide :header_infrastructure_path, environments_path
- provide :header_infrastructure_class, "active"
- provide :header_configuration_path, environment_siebel_configurations_path(environment)
- provide :header_configuration_class, ""
- provide :environment_tab, "infra"